PORT=3003

# Dash0 OTLP destination
# Replace with your Dash0 instance OTLP endpoint (e.g. ingress.eu-west-1.aws.dash0.com:4317)
DASH0_OTLP_ENDPOINT=
# Replace with your Dash0 ingest auth token (looks like "auth_...")
DASH0_AUTH_TOKEN=
